{% extends "main.html" %}

{% block content %}

<h1> Hello there this is HOME</h1>

<h2><a href="{% url 'createRoom' %}">Let's go to room✈🕊</a></h2>


<hr>

<div>

    
    {% for dct in room %}

        <a href="{% url 'delete-room' dct.id %}">DELETE</a>
        <a href="{% url 'update-room' dct.id  %}">edit</a>
        <span><b>@{{dct.host.get_username}}</b></span>
        <h3>{{dct.id}} --- <a href="{% url 'room' dct.id %}">{{dct.name}}</a></h3>
        <small> {{dct.topic}} </small>
        <div>
            <small> {{dct.description}} </small>
        </div>
        
        <br>
        <hr>
        
    {% endfor %}

</div>

{% endblock content %}